.app {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.app-header {
  // background-color: #282c34;
  color: white;

  height: 62px;
  padding: .5em .8em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
  }

  .header-logo {
    flex: 0 0 20%;
  }

  .header-menu {
    flex: 0 1 80%;
    display: flex;
    justify-content: flex-end;
  }

  .header-menu-item {
    margin-left: 1em;
  }

}

.app-container {
  width: 100%;
  height: calc(100vh - 62px);
  display: flex;
  flex-direction: row;

  .side-menu {
    flex: 0 0 20%;
    color: white;
    // background-color: greenyellow;

    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: .5em;
        margin: 0;
        border-bottom: 1px solid #ccc;
      }
    }
  }  

  .page-maincontents {
    flex: 0 1 80%;
    // background-color: lightblue;
    padding: 1em;
    overflow-y: auto;

    .section-wrapper {
      margin-bottom: 1em;

      .section-header {
        margin-bottom: .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-title {
          font-size: 1.2em;
          font-weight: bold;
        }
      }

      .section-contents {
        padding: 1em;
        background-color: #fff;
        border: 1px solid #ccc;

        dl {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
        }
      }

      .section-footer {
        margin-top: .5em;
        display: flex;
        justify-content: flex-end;
      }
    }

  }
}

.page-title-wrapper {
  margin-bottom: 1em;

  .page-title {
    font-size: 2.5em;
    font-weight: bold;
  }
}

.page-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.tag_category {
  background-color: #e0e0e0;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  font-size: 0.8em;
  margin-right: 0.5em;
  color: #fff;
}

// *************************
// Material UI用のスタイル
// *************************

.MuiPaper-root {
  padding: 0;
}

.MuiAccordion-heading {
  .MuiButtonBase-root {
    padding: .5em 1em;
    min-width: 0;
    width: 100%;
    justify-content: space-between;

    .MuiAccordionSummary-content {
      margin: 0;

      &.Mui-expanded {
        margin: 0;
      }
    }
  }
}

.MuiCollapse-wrapper {
  .MuiBox-root {
    padding: .5em 1em;
    border: none;
  }
}
